<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
  <form action="#" method="POST">
    <h1>Đăng nhập</h1>
    <input type="text" placeholder="Tên đăng nhập">
    <input type="password" placeholder="Mật khẩu">
    <input type="submit" value="Đăng nhập">
    <input type="checkbox" name="is_register" id="is_register">
    <a href="./register.html">Đăng ký</a>
  </form>
</body>
</html>i